

.parsonsla{
    display: none;
}

.imt{
   contain: "";
    left: 32px;
    top: 0;
    position: absolute;

}
.imt-1{
   contain: "";
    left: 62px;
    top: 0;
    position: absolute;

}
.imt-2{
   contain: "";
    left: 92px;
    top: 0;
    position: absolute;

}
.review_info{
    font-family: 'Satoshi', sans-serif;                      
}
.review_info_part{
    font-family: 'Satoshi', sans-serif;                                          
}
.shorn{
    font-family: 'Satoshi', sans-serif;
 
}
.globally_text{
    font-family: "Inter", sans-serif;
    color: #00303F;
}

.standard_translation_left_part h3{
    font-family: "Inter", sans-serif;
    color: #00303F;
    font-size: 26px;
    width: 300px;
    line-height: 36px;
}
.standard_translation_right_part h3{
    font-family: "Inter", sans-serif;
    color: #00303F;
    font-size: 26px;
    width: 300px;
    line-height: 36px;
}
.standard_translation_left_part .suitable{
    font-family: "Inter", sans-serif;
    color: #00303F;
}
.standard_translation_left_part p{
    font-family: "Inter", sans-serif;
    color: #00303F;
}

.imgs_position_div .certi_1{
    content: "";
    top: 151px;
    left: 0;
} 
.imgs_position_div .certi_2{
    content: "";
    top: 62px;
    left: 17px;
} 
.imgs_position_div .certi_3{
    content: "";
    top: 60px;
    right: 0;
} 
.imgs_position_div .certi_4{
    content: "";
    bottom: 1px;
    left: 25px;
    transform: translateY(102%);
} 


/* font-family: 'Stroke', sans-serif;
font-weight: normal; */


/* mobile  */

.imgs_position_div .icon{
    content: '';
    right: 12px;
    top: 15px;
    transform: rotate(-29deg);
    width: 29px;
}
.imgs_position_div .passport-1{
    content: '';
    left: 100px;
    top: 80px;
    transform: rotate(-50deg);
    width: 43px;
}
.imgs_position_div .mobile{
    content: '';
    top: 60px;
    left: 0;
}

